@model Five9APISamplesDemo.com.five9.configapi.listImportResult

@{
    ViewBag.Title = "CallBackAPISubmitResult";
}

<h2>CallBackAPISubmitResult</h2>

<div>
    <h4>listImportResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.failureMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.failureMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uploadDuplicatesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uploadDuplicatesCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uploadErrorsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uploadErrorsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callNowQueued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callNowQueued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crmRecordsInserted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crmRecordsInserted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crmRecordsUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crmRecordsUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listRecordsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listRecordsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listRecordsInserted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listRecordsInserted)
        </dd>

    </dl>
</div>
<p>
   
</p>
